h1
{
    text-align: center;
    color: saddlebrown;
    font-size: 2rem;
}
h2
{
    text-align: center;
    color: saddlebrown;
    font-size: 1rem;
}
p1
{
    text-align: center;
    color: rgb(80, 32, 32);
    font-size: 0.75rem;
}
p3
{
    text-align: center;
    color: rgb(80, 32, 32);
    font-size: 0.6rem;
}

div
{
    font-size: 0.87rem; 
    border-style: double;
    border-color: rgb(80, 32, 32);
}
body
{
background-color: blanchedalmond;
}