h1
{
    text-align: center;
    color: saddlebrown;
    font-size: 3rem;
}
h2
{
    text-align: center;
    color: saddlebrown;
    font-size: 2rem;
}
p1
{
    text-align: center;
    color: rgb(80, 32, 32);
    font-size: 1rem;
}
body
{
background-color: blanchedalmond;
}